<!-- div name: handlebar-div -->
<div class='handlebar-div'>
  {{#each books as |book|}}
    <div style="border: 1px solid gray">{{book.id}}</div>
    <div style="border: 1px solid gray">{{book.title}}</div>
    <div style="border: 1px solid gray">{{book.author}}</div>
  {{/each}}
</div>
