@import '~bootstrap/scss/bootstrap';

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  flex-flow: center;
  font-family: 'Fira Mono', monospace;
  margin: 0;
  padding: 0;
}

div {
  color: white;
}

button {
  background-color: transparent;
  color: white;
  text-align: center;
}

button:hover {
  background-color: green;
}

.book-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  div {
    width: 100%;
  }
  text-align: center;
}

.book-id {
  align-items: center;
  width: 10% !important;
}

.book-title {
  align-items: center;
}

.book-author {
  align-items: center;
}

.books-title {
  text-align: center;
  color: white;
}

.failure {
  color: red;
}

.success {
  color: green;
}
