@import '~bootstrap/scss/bootstrap';

body,
html {
  background-color: #000;
  display: flex;
  font-family: 'Fira Mono', monospace;
  margin: 0;
  overflow: hidden;
  padding: 0;

}

.failure {
  color: red;
}

.success {
  color: green;
}
